header.header
    .header_inner
        .header_column
            a.logo(href=routes.home)
                <i class="fab fa-youtube"></i>
        .header_column
            form(action=routes.search method="get")
                input(type="text", placeholder="searching for", name="term")
        .header_column
            ul.gnb
                if !loggedUser
                    li
                        a(href=routes.join) Join
                    li
                        a(href=routes.login) Log in
                else
                    li
                        a(href=`/videos${routes.upload}`) Upload
                    li
                        a(href=routes.me) Profile
                    li
                        a(href=routes.logout) Log Out
            
